<% layout('layout') %>

<div class="row">
  <div class="col-md-12">
    <h2>clarifai</h2>
    <p>
      <a href="https://www.clarifai.com/">https://www.clarifai.com/</a>
    </p>
    <div class="list-group">
      <a class="list-group-item" href="/clarifai/get_started">Get Started</a>
    </div>

    <h2>Google Cloud Vision API</h2>
    <p>
      <a href="https://cloud.google.com/vision">https://cloud.google.com/vision</a>
    </p>
    <div class="list-group">
      <a class="list-group-item" href="/google/detect_label">detectLabel</a>
    </div>
  </div>
</div>

